.footer {
	display: flex;
	justify-content: center;
	align-items: center;
	padding: 1rem;
}

.copyright {
	flex: 1;
}

.social {
	display: flex;
	flex: 1;
	justify-content: flex-end;
	align-items: center;
	margin-left: 1rem;
	gap: 0.5rem;
}
